<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>
      <filter>
    <whitelist processUncoveredFilesFromWhitelist="true"> <!--just make sure these two are in filters-->
      <directory suffix=".php">./</directory>
       <exclude>
        <directory suffix=".php">./vendor/</directory>
       </exclude>
       <exclude>
        <directory suffix=".php">./Test/</directory>
       </exclude>
    </whitelist>
      </filter>
    <logging>
        <log type="coverage-html" target="./tmp/" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="./tmp/coverage.xml"/>
        <log type="coverage-php" target="./tmp/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="./tmp/logfile.json"/>
        <log type="tap" target="./tmp/logfile.tap"/>
        <log type="junit" target="./tmp/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./tmp/testdox.html"/>
        <log type="testdox-text" target="./tmp/testdox.txt"/>
      </logging>

</phpunit>